<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="rooms.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dostępne pokoje</title>
  </head>
  <body>
      <p><b>Dostępne pokoje</b></p>
      
      <% for (let i = 0; i < context.count; i++) { %>
          <form action="/join", method="POST">
          <label for="r<%= i %>">Pokój  <%= context.rooms[i][0] %> </label>
          <input id="r<%= i %>" type="number" name="r[<%= i %>]" value="<%= context.rooms[i][0] %>" readonly>
          <button>Dołącz</button>
          </form>
          <% } %>

  </body>
</html>